<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>WeChat</title>
    <link type="text/css" rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="./static/css/app.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" value="" id="username"/>
                    </div>
                </div>
                <p class="text-right">
                    <button class="btn-primary btn" type="button" id="sign">确定</button>
                </p>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well" style="height: 400px;overflow-y: auto" id="messageBox">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" id="message" rows="4" ></textarea>
                    </div>
                </div>
                <p class="text-right">
                    <button class="btn-primary btn" type="button" id="send" >发送</button>
                </p>
            </form>
            <hr/>
            <p id="info" class="text-right"></p>
        </div>
    </div>
</div>
<script src="./static/js/jquery.min.js"></script>
<script src="./static/js/react.js"></script>
<script src="./static/js/react-dom.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
       var ws = new WebSocket("ws://localhost:8080/chat")
        ws.onopen = function() {
            $("#info").html("连接成功")
            $("#info").addClass("text-success")
        }

        ws.onmessage = function(ev) {
            var data = ev.data

            var arr = data.split(":")
            if(arr[0] != $("#username").val()) {
                $("#info").html("有新消息")
                $("#messageBox").append('<div class="message"><p><span>' + arr[0] + '@' + arr[1] + '</span>' + arr[2] + '</p></div>')
            }
        }

        $("#sign").click(function() {
            //$("#send").removeAttribute("disabled")
        })

        $("#send").click(function() {
            var username = $("#username").val();
            var message = $("#message").val();
            message = message.replace(":", "&colon;")

            if (username.length != 0 && message.length != 0) {
                ws.send(username + ":" + getTime() + ":" + message)
                $("#info").html("发送成功")
                $("#messageBox").append('<div class="message message-r"><p><span>' +getTime()+ '</span>'+message + '</p></div>')
            }
        })
    })

    function getTime() {
        let date = new Date()
        return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() +
                "&colon;" + date.getMinutes() + "&colon;" + date.getSeconds()

    }
</script>
</body>
</html>